
@{
    Layout = null;
}

@* Login: Adm
    Senha: 1234
 *@

<form action="/Adm/LogarAdm" method="post">

    <h3 style="text-align: center; margin-top: 15%;">Nome</h3>

    <div style="text-align: center;">
    <input type="text" id="nome" name="nome" placeholder="Entre com o nome" style="text-align: center;" />
    </div>

    <h3 style="text-align: center;">Senha</h3>

    <div style="text-align: center;">
        <input type="password" id="senha" name="senha" placeholder="Entre com a senha" style="text-align: center;" />
    </div>

    <div style="text-align: center; margin-top:18px;"><input type="submit" value="Logar" /></div>

</form>